.gk{
    position:fixed;
    bottom:20px;
    right: 20px;
    border-radius:100px;
}

.image{
    height:70px;
    width:70px;
    box-shadow:1px 1px 5px #ACABB1;
    border-radius:100px;
}

.gk:hover{
transition-duration:500ms;
transform:rotate(720deg);
}

