@import url('https://fonts.googleapis.com/css?family=Ovo');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Ovo', serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size:1.8rem;
}

h2{
  font-size:1.5rem;
  border-bottom:1px solid black;
}

h3{
  font-size:1.2rem;
}

td, th{
  padding-right: 20px;
  vertical-align:text-top;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
